<div mat-dialog-title>
  <h1>Task Form</h1>
</div>

<form [formGroup]="taskForm" (ngSubmit)="onFormSubmit()">
  <div mat-dialog-content class="content">
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Task Category</mat-label>
        <mat-select formControlName="categoryId">
          <mat-option *ngFor="let categoryId of categories" [value]="categories.indexOf(categoryId)">
            {{categoryId}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input matInput type="text" placeholder="Task Title" formControlName="title">
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <input matInput type="text" placeholder="Task Description" formControlName="description">
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Priority</mat-label>
        <input matInput type="number" placeholder="-14" formControlName="addedPriority">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>ToDo Date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="cronExpression">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Task State</mat-label>
        <mat-select formControlName="state">
          <mat-option *ngFor="let state of states" [value]="state">
            {{state}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div mat-dialog-actions class="action">
    <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
    <button mat-raised-button color="primary" type="submit">{{data ? 'Update' : 'Save'}}</button>
  </div>
</form>
