apiVersion: apps/v1
kind: Deployment
metadata:
  name: categories
  namespace: weekplanner
  labels:
    app: categories
spec:
  replicas: 1
  selector:
    matchLabels:
      app: categories
  template:
    metadata:
      annotations:
        metrics.dynatrace.com/path: /stats/prometheus
        metrics.dynatrace.com/port: "15020"
        metrics.dynatrace.com/scrape: "true"
        metrics.dynatrace.com/secure: "false"
      namespace: weekplanner
      labels:
        app: categories
        app.kubernetes.io/version: 1.2.0
        app.kubernetes.io/part-of: WeekPlanner
    spec:
      containers:
        - name: categories
          image: ghcr.io/ihudak/weekplanner-categories:latest
          ports:
            - containerPort: 8080
            - containerPort: 5005
          envFrom:
            - configMapRef:
                name: weekplanner-configmap
            - secretRef:
                name: weekplanner-secret
          env:
            - name: DT_RELEASE_VERSION
              valueFrom:
                fieldRef:
                  fieldPath: metadata.labels['app.kubernetes.io/version']
            - name: DT_RELEASE_BUILD_VERSION
              value: "2024-04-08-21:40:50"
            - name: WP_PG_DBNAME
              value: wp_categories # DB NAME HERE
            - name: SERVICE_NAME
              value: Categories
            - name: SERVICE_FULL_NAME
              value: "$(APP_NAME).$(SERVICE_NAME).$(SVC_SUFFIX)"
            - name: OTEL_RESOURCE_ATTRIBUTES
              value: "dt.security_circle=$(SECURITY_CIRCLE),dt.management_zone=$(MANAGEMENT_ZONE),dt.owner_team=$(OWNER_TEAM),dt.owner=$(OWNER),dt.cost.costcenter=$(COST_CENTER),dt.cost.project=$(COST_PRODUCT),my.resource.attribute=$(MY_ATTR)"
          resources:
            limits:
              cpu: 300m
              memory: 768Mi
            requests:
              cpu: 300m
              memory: 512Mi
      initContainers:
        - name: categorycreator
          image: alpine:latest
          restartPolicy: Always
          envFrom:
            - configMapRef:
                name: weekplanner-configmap
          resources:
            limits:
              cpu: 100m
              memory: 512Mi
            requests:
              cpu: 100m
              memory: 512Mi
          command:
            - sh
            - -c
            - |
              apk add --no-cache curl && \
              sleep 30 && \
              curl -X POST http://$WP_CATEGORIES_SERVER/api/v1/categories -H "Content-Type: application/json" -d '{"name": "Graal", "priority":30, "color":"bb", "userId":1}' && \
              curl -X POST http://$WP_CATEGORIES_SERVER/api/v1/categories -H "Content-Type: application/json" -d '{"name": "Grail", "priority":15, "color":"aa", "userId":1}' && \
              curl -X POST http://$WP_CATEGORIES_SERVER/api/v1/categories -H "Content-Type: application/json" -d '{"name": "Apps", "priority":10, "color":"cc", "userId":1}' && \
              curl -X POST http://$WP_CATEGORIES_SERVER/api/v1/categories -H "Content-Type: application/json" -d '{"name": "TechFit", "priority":20, "color":"zz", "userId":1}' && \
              while true; do
                echo "$(date +"%Y-%m-%d-%H:%M:%S")"
                echo "Waiting for $GETCALL_TIMEOUT seconds..."
                sleep $GETCALL_TIMEOUT
                echo $(curl -s http://$WP_CATEGORIES_SERVER/api/v1/categories)
                echo $(curl -s http://$WP_CATEGORIES_SERVER/api/v1/version)
              done
---
apiVersion: v1
kind: Service
metadata:
  name: categories-svc
  namespace: weekplanner
spec:
  selector:
    app: categories
  type: ClusterIP # LoadBalancer
  ports:
    - name: http
      port: 82
      protocol: TCP
      targetPort: 8080
#      nodePort: 30008 # comment if ClusterIP
    - name: debug
      port: 5008
      protocol: TCP
      targetPort: 5005
#      nodePort: 32008 # comment if ClusterIP