apiVersion: v1
kind: ConfigMap
metadata:
  name: weekplanner-configmap
  namespace: weekplanner
data:
  WP_MYSQL_SERVER: "mysql-service"
  WP_PG_SERVER: "postgres-service"
  WP_MONGO_SERVER: "mongo-service"
  WP_CATEGORIES_SERVER: "categories-svc:82"
  WP_TASKS_SERVER: "tasks-svc:83"
  WP_USERS_SERVER: "users-svc:81"
  WP_WORKITEMS_SERVER: "workitems-svc:84"
  WP_WEB_SERVER: "web-svc:90"
  WP_SERVER_ADDR: "localhost" # categories-svc
  WP_SERVER_PROTO: "http"
  WP_SERVER_PORT: "8080"
  WP_MYSQL_PORT: "3306"
  WP_PG_PORT: "5432"
  WP_MONGO_PORT: "27017"
  WP_MONGO_AUTH_DB: "admin"
  TENANT_ID: <tenant-id>
  TENANT_URL: <env-url>
  APP_NAME: "WeekPlanner"
  SVC_SUFFIX: "FullStack"
  SECURITY_CIRCLE: "live.mgd.pm"
  MANAGEMENT_ZONE: "weekplanner"
  OWNER_TEAM: "managed-pm"
  OWNER: "ivan"
  COST_CENTER: "FinancialDept"
  COST_PRODUCT: "Finance"
  MY_ATTR: "https://github.com/ihudak/weekplanner"
  WP_PROFILE: "stage" # prod | stage | dev -- logging levels -- prod:ERROR; stage:INFO; dev:DEBUG
  WP_ACTIVE_WEB_ENV: "custom" # production|staging|development|custom -- production (k8s docker desktop w Ingress) | staging (k8s docker desktop w/o Ingress) | development (w/o kubernetes)
  WEEKPLAN_BASE_SRV_URL: "http://kubernetes.docker.internal" # if web_app_profile==custom, this is the base EXTERNAL URL where microservices APIs can be found by the web app
  WORKITEM_TIMEOUT: "60"
  GETCALL_TIMEOUT: "60"
