apiVersion: apps/v1
kind: Deployment
metadata:
  name: tasks
  namespace: weekplanner
  labels:
    app: tasks
spec:
  replicas: 1
  selector:
    matchLabels:
      app: tasks
  template:
    metadata:
      annotations:
        metrics.dynatrace.com/path: /stats/prometheus
        metrics.dynatrace.com/port: "15020"
        metrics.dynatrace.com/scrape: "true"
        metrics.dynatrace.com/secure: "false"
      namespace: weekplanner
      labels:
        app: tasks
        app.kubernetes.io/version: 1.2.0
        app.kubernetes.io/part-of: WeekPlanner
    spec:
      containers:
        - name: tasks
          image: ghcr.io/ihudak/weekplanner-tasks:latest
          ports:
            - containerPort: 8080
            - containerPort: 5005
          envFrom:
            - configMapRef:
                name: weekplanner-configmap
            - secretRef:
                name: weekplanner-secret
          env:
            - name: DT_RELEASE_VERSION
              valueFrom:
                fieldRef:
                  fieldPath: metadata.labels['app.kubernetes.io/version']
            - name: DT_RELEASE_BUILD_VERSION
              value: "2024-04-08-21:40:50"
            - name: WP_MONGO_DBNAME
              value: wp_tasks
            - name: SERVICE_NAME
              value: Tasks
            - name: SERVICE_FULL_NAME
              value: "$(APP_NAME).$(SERVICE_NAME).$(SVC_SUFFIX)"
            - name: OTEL_RESOURCE_ATTRIBUTES
              value: "dt.security_circle=$(SECURITY_CIRCLE),dt.management_zone=$(MANAGEMENT_ZONE),dt.owner_team=$(OWNER_TEAM),dt.owner=$(OWNER),dt.cost.costcenter=$(COST_CENTER),dt.cost.project=$(COST_PRODUCT),my.resource.attribute=$(MY_ATTR)"
          resources:
            limits:
              cpu: 300m
              memory: 768Mi
            requests:
              cpu: 300m
              memory: 512Mi
      initContainers:
        - name: taskscaller
          image: alpine:latest
          restartPolicy: Always
          envFrom:
            - configMapRef:
                name: weekplanner-configmap
          resources:
            limits:
              cpu: 100m
              memory: 512Mi
            requests:
              cpu: 100m
              memory: 512Mi
          command:
            - sh
            - -c
            - |
              apk add --no-cache curl && \
              sleep 30 && \
              curl -X POST http://$WP_TASKS_SERVER/api/v1/tasks -H "Content-Type: application/json" -d '{"taskId": null, "categoryId": 1, "title": "Solution Demo", "description": "Need an app to compare Node.js vs Java Native", "cronExpression": "2025-08-14T22:00:00.000Z", "state": "IMPL", "addedPriority": 10}' && \
              curl -X POST http://$WP_TASKS_SERVER/api/v1/tasks -H "Content-Type: application/json" -d '{"taskId": null, "categoryId": 2, "title": "Traces pb Grail billing", "description": "Traces powered by Grail billing", "cronExpression": "2025-08-14T22:00:00.000Z", "state": "READY", "addedPriority": 8}' && \
              curl -X POST http://$WP_TASKS_SERVER/api/v1/tasks -H "Content-Type: application/json" -d '{"taskId": null, "categoryId": 3, "title": "Build a Node.js app", "description": "Need an app to compare Node.js vs Java Native", "cronExpression": "2025-08-14T22:00:00.000Z", "state": "DONE", "addedPriority": 3}' && \
              curl -X POST http://$WP_TASKS_SERVER/api/v1/tasks -H "Content-Type: application/json" -d '{"taskId": null, "categoryId": 4, "title": "Kafka support on Ruby", "description": "Kafka support on Ruby", "cronExpression": "2025-08-14T22:00:00.000Z", "state": "PREP", "addedPriority": 15}' && \
              curl -X POST http://$WP_TASKS_SERVER/api/v1/tasks -H "Content-Type: application/json" -d '{"taskId": null, "categoryId": 4, "title": "Bedrock support on Python", "description": "Bedrock support on Python", "cronExpression": "2025-08-14T22:00:00.000Z", "state": "IMPL", "addedPriority": 17}' && \
              curl -X POST http://$WP_TASKS_SERVER/api/v1/tasks -H "Content-Type: application/json" -d '{"taskId": null, "categoryId": 1, "title": "Tech Detection in K8s FS CN", "description": "Technology Detection in K8s FullStack CloudNative", "cronExpression": "2025-08-14T22:00:00.000Z", "state": "READY", "addedPriority": 22}' && \
              while true; do
                echo "$(date +"%Y-%m-%d-%H:%M:%S")"
                echo "Waiting for $GETCALL_TIMEOUT seconds..."
                sleep $GETCALL_TIMEOUT
                echo $(curl -s http://$WP_TASKS_SERVER/api/v1/tasks)
                echo $(curl -s http://$WP_TASKS_SERVER/api/v1/version)
              done
---
apiVersion: v1
kind: Service
metadata:
  name: tasks-svc
  namespace: weekplanner
spec:
  selector:
    app: tasks
  type: ClusterIP # LoadBalancer
  ports:
    - name: http
      port: 83
      protocol: TCP
      targetPort: 8080
#      nodePort: 30008 # comment if ClusterIP
    - name: debug
      port: 5008
      protocol: TCP
      targetPort: 5005
#      nodePort: 32008 # comment if ClusterIP