apiVersion: apps/v1
kind: Deployment
metadata:
  name: users
  namespace: weekplanner
  labels:
    app: users
spec:
  replicas: 1
  selector:
    matchLabels:
      app: users
  template:
    metadata:
      annotations:
        metrics.dynatrace.com/path: /stats/prometheus
        metrics.dynatrace.com/port: "15020"
        metrics.dynatrace.com/scrape: "true"
        metrics.dynatrace.com/secure: "false"
      namespace: weekplanner
      labels:
        app: users
        app.kubernetes.io/version: 1.2.0
        app.kubernetes.io/part-of: WeekPlanner
    spec:
      containers:
        - name: users
          image: ghcr.io/ihudak/weekplanner-users:latest
          ports:
            - containerPort: 8080
            - containerPort: 5005
          envFrom:
            - configMapRef:
                name: weekplanner-configmap
            - secretRef:
                name: weekplanner-secret
          env:
            - name: DT_RELEASE_VERSION
              valueFrom:
                fieldRef:
                  fieldPath: metadata.labels['app.kubernetes.io/version']
            - name: DT_RELEASE_BUILD_VERSION
              value: "2024-04-08-21:40:50"
            - name: WP_PG_DBNAME
              value: wp_users # DB NAME HERE
            - name: SERVICE_NAME
              value: Users
            - name: SERVICE_FULL_NAME
              value: "$(APP_NAME).$(SERVICE_NAME).$(SVC_SUFFIX)"
            - name: OTEL_RESOURCE_ATTRIBUTES
              value: "dt.security_circle=$(SECURITY_CIRCLE),dt.management_zone=$(MANAGEMENT_ZONE),dt.owner_team=$(OWNER_TEAM),dt.owner=$(OWNER),dt.cost.costcenter=$(COST_CENTER),dt.cost.project=$(COST_PRODUCT),my.resource.attribute=$(MY_ATTR)"
          resources:
            limits:
              cpu: 300m
              memory: 768Mi
            requests:
              cpu: 300m
              memory: 512Mi
      initContainers:
        - name: userscaller
          image: alpine:latest
          restartPolicy: Always
          envFrom:
            - configMapRef:
                name: weekplanner-configmap
          resources:
            limits:
              cpu: 100m
              memory: 512Mi
            requests:
              cpu: 100m
              memory: 512Mi
          command:
            - sh
            - -c
            - |
              apk add --no-cache curl && \
              sleep 30 && \
              curl -X POST http://$WP_USERS_SERVER/api/v1/users -H "Content-Type: application/json" -d '{"firstName": "Peter", "lastName": "Brown", "email": "peter.brown@gmail.com", "password": "An0Th3RP@5Sw0rD!", "authSystem": "facebook", "authID": "fb534635423534524", "suspended": "false"}' && \
              curl -X POST http://$WP_USERS_SERVER/api/v1/users -H "Content-Type: application/json" -d '{"firstName": "Sarah", "lastName": "Sparrow", "email": "sarah.sparrow@gmail.com", "password": "An0Th3RP@5Sw0rD!", "authSystem": "google", "authID": "g64576432634", "suspended": "false"}' && \
              curl -X POST http://$WP_USERS_SERVER/api/v1/users -H "Content-Type: application/json" -d '{"firstName": "Abraham", "lastName": "Gray", "email": "abraham.gray@gmail.com", "password": "An0Th3RP@5Sw0rD!", "authSystem": "twitter", "authID": "tw55346456345", "suspended": "false"}' && \
              curl -X POST http://$WP_USERS_SERVER/api/v1/users -H "Content-Type: application/json" -d '{"firstName": "Natalia", "lastName": "Green", "email": "natalia.green@gmail.com", "password": "An0Th3RP@5Sw0rD!", "authSystem": "azure", "authID": "az53464365345325", "suspended": "false"}' && \
              curl -X POST http://$WP_USERS_SERVER/api/v1/users -H "Content-Type: application/json" -d '{"firstName": "Katie", "lastName": "White", "email": "katie.white@gmail.com", "password": "An0Th3RP@5Sw0rD!", "authSystem": "aws", "authID": "aws46534643535432", "suspended": "false"}' && \
              curl -X POST http://$WP_USERS_SERVER/api/v1/users -H "Content-Type: application/json" -d '{"firstName": "Alex", "lastName": "Black", "email": "alex.black@gmail.com", "password": "An0Th3RP@5Sw0rD!", "authSystem": "facebook", "authID": "fb534534532432", "suspended": "true"}' && \
              while true; do
                echo "$(date +"%Y-%m-%d-%H:%M:%S")"
                echo "Waiting for $GETCALL_TIMEOUT seconds..."
                sleep $GETCALL_TIMEOUT
                echo $(curl -s http://$WP_USERS_SERVER/api/v1/users)  
                echo $(curl -s http://$WP_USERS_SERVER/api/v1/version)  
              done
---
apiVersion: v1
kind: Service
metadata:
  name: users-svc
  namespace: weekplanner
spec:
  selector:
    app: users
  type: ClusterIP # LoadBalancer
  ports:
    - name: http
      port: 81
      protocol: TCP
      targetPort: 8080
#      nodePort: 30008 # comment if ClusterIP
    - name: debug
      port: 5008
      protocol: TCP
      targetPort: 5005
#      nodePort: 32008 # comment if ClusterIP