apiVersion: apps/v1
kind: Deployment
metadata:
  name: web
  namespace: weekplanner
  labels:
    app: web
spec:
  replicas: 1
  selector:
    matchLabels:
      app: web
  template:
    metadata:
      annotations:
        metrics.dynatrace.com/path: /stats/prometheus
        metrics.dynatrace.com/port: "15020"
        metrics.dynatrace.com/scrape: "true"
        metrics.dynatrace.com/secure: "false"
      namespace: weekplanner
      labels:
        app: web
        app.kubernetes.io/version: 1.2.0
        app.kubernetes.io/part-of: WeekPlanner
    spec:
      containers:
        - name: web
          image: ghcr.io/ihudak/weekplanner-web:latest
          ports:
            - containerPort: 4200
          envFrom:
            - configMapRef:
                name: weekplanner-configmap
            - secretRef:
                name: weekplanner-secret
          env:
            - name: DT_RELEASE_VERSION
              valueFrom:
                fieldRef:
                  fieldPath: metadata.labels['app.kubernetes.io/version']
            - name: DT_RELEASE_BUILD_VERSION
              value: "2023-10-31-03:40:50"
            - name: SERVICE_NAME
              value: WeekPlanner-Web
            - name: OTEL_SERVICE_NAME
              value: "$(APP_NAME).$(SERVICE_NAME).$(SVC_SUFFIX)"
            - name: OTEL_RESOURCE_ATTRIBUTES
              value: "dt.security_circle=$(SECURITY_CIRCLE),dt.management_zone=$(MANAGEMENT_ZONE),dt.owner_team=$(OWNER_TEAM),dt.owner=$(OWNER),dt.cost.costcenter=$(COST_CENTER),dt.cost.project=$(COST_PRODUCT),my.resource.attribute=$(MY_ATTR)"
          resources:
            limits:
              cpu: 500m
              memory: 1Gi
            requests:
              cpu: 500m
              memory: 1Gi
      initContainers:
        - name: versioncaller
          image: alpine:latest
          restartPolicy: Always
          envFrom:
            - configMapRef:
                name: weekplanner-configmap
          resources:
            limits:
              cpu: 100m
              memory: 512Mi
            requests:
              cpu: 100m
              memory: 512Mi
          command:
            - sh
            - -c
            - |
              apk add --no-cache curl && \
              while true; do
                echo "$(date +"%Y-%m-%d-%H:%M:%S")"
                echo "Waiting for $GETCALL_TIMEOUT seconds..."
                sleep $GETCALL_TIMEOUT
                echo $(curl -s http://$WP_WEB_SERVER)
              done
---
apiVersion: v1
kind: Service
metadata:
  name: web-svc
  namespace: weekplanner
spec:
  selector:
    app: web
  type: ClusterIP # LoadBalancer
  ports:
    - port: 90
      protocol: TCP
      targetPort: 4200
#      nodePort: 30000 # comment if ClusterIP
