apiVersion: apps/v1
kind: Deployment
metadata:
  name: workitems
  namespace: weekplanner
  labels:
    app: workitems
spec:
  replicas: 1
  selector:
    matchLabels:
      app: workitems
  template:
    metadata:
      annotations:
        metrics.dynatrace.com/path: /stats/prometheus
        metrics.dynatrace.com/port: "15020"
        metrics.dynatrace.com/scrape: "true"
        metrics.dynatrace.com/secure: "false"
      namespace: weekplanner
      labels:
        app: workitems
        app.kubernetes.io/version: 1.2.0
        app.kubernetes.io/part-of: WeekPlanner
    spec:
      containers:
        - name: workitems
          image: ghcr.io/ihudak/weekplanner-workitems:latest
          ports:
            - containerPort: 8080
            - containerPort: 5005
          envFrom:
            - configMapRef:
                name: weekplanner-configmap
            - secretRef:
                name: weekplanner-secret
          env:
            - name: DT_RELEASE_VERSION
              valueFrom:
                fieldRef:
                  fieldPath: metadata.labels['app.kubernetes.io/version']
            - name: DT_RELEASE_BUILD_VERSION
              value: "2024-04-08-21:40:50"
            - name: SERVICE_NAME
              value: WorkItems
            - name: SERVICE_FULL_NAME
              value: "$(APP_NAME).$(SERVICE_NAME).$(SVC_SUFFIX)"
            - name: OTEL_RESOURCE_ATTRIBUTES
              value: "dt.security_circle=$(SECURITY_CIRCLE),dt.management_zone=$(MANAGEMENT_ZONE),dt.owner_team=$(OWNER_TEAM),dt.owner=$(OWNER),dt.cost.costcenter=$(COST_CENTER),dt.cost.project=$(COST_PRODUCT),my.resource.attribute=$(MY_ATTR)"
          resources:
            limits:
              cpu: 500m
              memory: 768Mi
            requests:
              cpu: 500m
              memory: 512Mi
      initContainers:
        - name: workitemscaller
          image: alpine:latest
          restartPolicy: Always
          envFrom:
            - configMapRef:
                name: weekplanner-configmap
          resources:
            limits:
              cpu: 100m
              memory: 512Mi
            requests:
              cpu: 100m
              memory: 512Mi
          command:
            - sh
            - -c
            - |
              apk add --no-cache curl && \
              sleep 60 && \
              while true; do
                echo "$(date +"%Y-%m-%d-%H:%M:%S")"
                echo "Waiting for $WORKITEM_TIMEOUT seconds..."
                sleep $WORKITEM_TIMEOUT
                echo $(curl -s http://$WP_WORKITEMS_SERVER/api/v1/workitems)  
              done
---
apiVersion: v1
kind: Service
metadata:
  name: workitems-svc
  namespace: weekplanner
spec:
  selector:
    app: workitems
  type: ClusterIP # LoadBalancer
  ports:
    - name: http
      port: 84
      protocol: TCP
      targetPort: 8080
#      nodePort: 30008 # comment if ClusterIP
    - name: debug
      port: 5008
      protocol: TCP
      targetPort: 5005
#      nodePort: 32008 # comment if ClusterIP